input.table-input {
	height: 24px;
	max-width: 100px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
*:focus {
    outline: 0 !important;
}