<div class="well">
<ng-form id="workingcapital" name="workingcapital" >
<table class="table table-striped table-hover">
  <thead>
  <tr>
  	<th>Index Name</th>
    <th ng-repeat="y in [] | range: rangeInYears track by $index">{{ startYear + $index }}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td nowrap>AR</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="ar" type="text" ng-model="workingcapital.data.ar[j]"></td>
  </tr>
  <tr>
    <td nowrap>Inventory</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="inventory" type="text" ng-model="workingcapital.data.inventory[j]"></td>
  </tr>
  <tr>
    <td nowrap>AP</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="ap" type="text" ng-model="workingcapital.data.ap[j]"></td>
  </tr>
  <tr>
    <td nowrap>Accrued expenses</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="accuredexpenses" type="text" ng-model="workingcapital.data.accuredexpenses[j]"></td>
  </tr>
  <tr>
    <td nowrap>Purchases of intangible assets (enter as +)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="pia" type="text" ng-model="workingcapital.data.pia[j]"></td>
  </tr>
  <tr>
    <td nowrap>Amortization (enter as -)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="amortization" type="text" ng-model="workingcapital.data.amortization[j]"></td>
  </tr>
  <tr>
    <td nowrap>Capital expenditures</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="ce" type="text" ng-model="workingcapital.data.ce[j]"></td>
  </tr>
  </tbody>
</table>
<div class="row">
<div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success" ng-disabled="Form.$invalid">Save Input</button>
        </div>
      </div>
      </div>
    </ng-form>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="well">
  			{{ workingcapital }}
		</div>
	</div>
</div>