<div class="well">
<ng-form id="retainedearnings" name="retainedearnings" >
<table class="table table-striped table-hover">
  <thead>
  <tr>
  	<th>Index Name</th>
    <th ng-repeat="y in [] | range: rangeInYears track by $index">{{ startYear + $index }}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td nowrap>Dividends</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="dividends" type="text" ng-model="retainedearnings.data.dividends[j]"></td>
  </tr>
  </tbody>
</table>
<div class="row">
<div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success" ng-disabled="Form.$invalid">Save Input</button>
        </div>
      </div>
      </div>
    </ng-form>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="well">
  			{{ retainedearnings }}
		</div>
	</div>
</div>