<div class="well">
<ng-form id="ob" name="ob" >
<table class="table table-striped table-hover">
  <thead>
  <tr>
  	<th>Index Name</th>
    <th ng-repeat="y in [] | range: rangeInYears track by $index">{{ startYear + $index }}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td nowrap>Cash & equivalents ST & LT market. securities</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBCashAndEquivalentsSTandLTMarketSecurities" type="text" ng-model="ob.data[startYear + j - 1].InOBCashAndEquivalentsSTandLTMarketSecurities" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Accounts receivable</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBAccountsReceivable" type="text" ng-model="ob.data[startYear + j - 1].InOBAccountsReceivable" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Inventory</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBInventory" type="text" ng-model="ob.data[startYear + j - 1].InOBInventory" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Deferred tax assets</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBDeferredTaxAssets" type="text" ng-model="ob.data[startYear + j - 1].InOBDeferredTaxAssets" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Other current assets (inc. non-trade receivables)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBOtherCurrentAssets" type="text" ng-model="ob.data[startYear + j - 1].InOBOtherCurrentAssets" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Property, plant & equipment</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBPropertyPlantAndEquipment" type="text" ng-model="ob.data[startYear + j - 1].InOBPropertyPlantAndEquipment" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Acquired intangible assets (inc. Goodwill)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBAcquiredIntangibleAssets" type="text" ng-model="ob.data[startYear + j - 1].InOBAcquiredIntangibleAssets" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Other assets</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBOtherAssets" type="text" ng-model="ob.data[startYear + j - 1].InOBOtherAssets" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Accounts payable</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBAccountsPayable" type="text" ng-model="ob.data[startYear + j - 1].InOBAccountsPayable" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Accrued expenses & def rev. (current & non-current)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBAccruedExpensesAndDefRev" type="text" ng-model="ob.data[startYear + j - 1].InOBAccruedExpensesAndDefRev" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Revolver</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBRevolver" type="text" ng-model="ob.data[startYear + j - 1].InOBRevolver"></td>
  </tr>
  <tr>
    <td nowrap>Long term debt</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBLongTermDebt" type="text" ng-model="ob.data[startYear + j - 1].InOBLongTermDebt" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Other non-current liabilities</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBOtherNonCurrentLiabilities" type="text" ng-model="ob.data[startYear + j - 1].InOBOtherNonCurrentLiabilities" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Common stock / additional paid in capital</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBCommonStockOrAdditionalPaidInCapital" type="text" ng-model="ob.data[startYear + j - 1].InOBCommonStockOrAdditionalPaidInCapital" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Treasury stock</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBTreasuryStock" type="text" ng-model="ob.data[startYear + j - 1].InOBTreasuryStock" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Retained earnings / accumulated deficit</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBRetainedEarningsOrAccumulatedDeficit" type="text" ng-model="ob.data[startYear + j - 1].InOBRetainedEarningsOrAccumulatedDeficit" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Other comprehensive income / (loss)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBOtherComprehensiveIncomeOrLoss" type="text" ng-model="ob.data[startYear + j - 1].InOBOtherComprehensiveIncomeOrLoss" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  <tr>
    <td nowrap>Market share price</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="InOBMarketSharePrice" type="text" ng-model="ob.data[startYear + j - 1].InOBMarketSharePrice" ng-disabled="(startYear + j - 1) >= currentYear"></td>
  </tr>
  </tbody>
</table>
<div class="row">
<div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success" ng-disabled="Form.$invalid">Next</button>
        </div>
      </div>
      </div>
    </ng-form>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="well">
  			{{ ob }}
		</div>
	</div>
</div>