<div class="well">
<ng-form id="liabilities" name="liabilities" >
<table class="table table-striped table-hover">
  <thead>
  <tr>
  	<th>Index Name</th>
    <th ng-repeat="y in [] | range: rangeInYears track by $index">{{ startYear + $index }}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td nowrap>Other current assets (inc. non-trade receivables)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="oca" type="text" ng-model="liabilities.data.oca[j]"></td>
  </tr>
  <tr>
    <td nowrap>Deferred tax assets (DTAs)</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="dta" type="text" ng-model="liabilities.data.dta[j]"></td>
  </tr>
  <tr>
    <td nowrap>Other assets</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="oa" type="text" ng-model="liabilities.data.oa[j]"></td>
  </tr>
  <tr>
    <td nowrap>Accrued expenses & def revenues</td>
    <td ng-repeat="j in [] | range: rangeInYears track by $index"><input class="form-control table-input" id="aedr" type="text" ng-model="liabilities.data.aedr[j]"></td>
  </tr>
  </tbody>
</table>
<div class="row">
<div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success" ng-disabled="Form.$invalid">Save Input</button>
        </div>
      </div>
      </div>
    </ng-form>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="well">
  			{{ liabilities }}
		</div>
	</div>
</div>