<div class="row">
	<div class="col-md-12">
		<a ui-sref-active="active" ui-sref="input.Products" class="btn btn-raised btn-success btn-sm">Products</a>
        <a ui-sref-active="active" ui-sref="input.PL" class="btn btn-raised btn-success btn-sm">P&L data</a>
        <a ui-sref-active="active" ui-sref="input.OpeningBalance" class="btn btn-raised btn-success btn-sm">Opening Balance</a>
        <a ui-sref-active="active" ui-sref="input.WorkingCapital" class="btn btn-raised btn-success btn-sm">Working Capital</a>
        <a ui-sref-active="active" ui-sref="input.Liabilities" class="btn btn-raised btn-success btn-sm">Liabilities & Deferred Taxes</a>
        <a ui-sref-active="active" ui-sref="input.DEBT" class="btn btn-raised btn-success btn-sm">DEBT</a>
        <a ui-sref-active="active" ui-sref="input.CapitalStock" class="btn btn-raised btn-success btn-sm">Capital Stock</a>
        <a ui-sref-active="active" ui-sref="input.RetainedEarnings" class="btn btn-raised btn-success btn-sm">Retained Earnings</a>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div ui-view></div>
	</div>
</div>